/* components/messagelist/messagelist.wxss */
.messagelist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24rpx 20rpx;
  flex: 1;

  image {
    width: 64rpx;
    height: 64rpx;
  }

  >view {
    flex: 1;
    padding: 0 20rpx;
    height: 100rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text {
      &:first-child {
        font-size: 30rpx;
      }

      &:nth-child(2) {
        color: #9A9A9A;
        font-size: 24rpx;
      }
    }
  }

  >text {
    font-size: 24rpx;
    color: #9A9A9A;
	}
	>button{
		width: auto;
		height: auto;
		font-size: 24rpx;
	} 
}